services:
  db:
    image: mysql:8.0
    container_name: wp-mysql
    command: --default-authentication-plugin=mysql_native_password
    env_file: .env
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql
    restart: unless-stopped
    networks:
      - wpnet

  wordpress:
    image: wordpress:php8.2-apache
    container_name: wp
    env_file: .env
    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_NAME: ${MYSQL_DATABASE}
      WORDPRESS_DB_USER: ${MYSQL_USER}
      WORDPRESS_DB_PASSWORD: ${MYSQL_PASSWORD}
    depends_on:
      - db
    volumes:
      - wp_data:/var/www/html
    ports:
      - "8083:80"
    restart: unless-stopped
    networks:
      - wpnet

volumes:
  db_data:
  wp_data:

networks:
  wpnet:
    driver: bridge

